:root {
    --background: rgb(34, 40, 49);
}

html, body {
    margin:0;
    height: 100%;
}

body {
    margin: 0;
    color: white;
    line-height: 1.6;
    font-size: 18px;
}

.wiki-container {
    background-color: white;
    position: relative;
    flex: 2;
    overflow: hidden;
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    transform: translate(-50%, -50%);
}

.blur {
    filter: blur(10px);
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.no-blur {
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    height: 100%;
}

.stats-container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.timer {
    border: 1px solid white;
    flex: 1;
}

.leaderboard {
    border: 1px solid white;
    flex: 1;
}

h1 {
    position: absolute;
}
